 @font-face {
     font-family: "Rubik";
     font-style: normal;
     font-weight: 300;
     src: url('../fonts/Rubik/Rubik-Light.ttf') format("woff");
 }
 
 @font-face {
     font-family: "Rubik";
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/Rubik/Rubik-Regular.ttf') format("woff");
 }
 
 @font-face {
     font-family: "Rubik";
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/Rubik/Rubik-Medium.ttf') format("woff");
 }
 
 @font-face {
     font-family: "Rubik";
     font-style: normal;
     font-weight: 600;
     src: url('../fonts/Rubik/Rubik-SemiBold.ttf') format("woff");
 }
 
 @font-face {
     font-family: "Rubik";
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/Rubik/Rubik-Bold.ttf') format("woff");
 }
 /*------*/
 
 @font-face {
     font-family: "Swissra";
     font-style: normal;
     font-weight: 800;
     src: url('../fonts/Swissra/Swissra Black.otf') format("woff");
 }
 
 body {
     font-family: 'Rubik', sans-serif;
     font-weight: 400;
 }