$color-1: #07253f;
$color-2: #006cf2;
$color-3: #57cefb;
$color-4: #f9ae40;
$color-5: #f7931b;
$color-6: #09abed;
$color-6: #767eff;
$color-7: #eff2f9;
$base-url: "/assets/" !default;
@mixin d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-gray {
  background-color: $color-7;
}

:root {
  --bs-body-color: #07253f;
}

@mixin transition($type, $time) {
  transition: $type $time ease;
  -webkit-transition: $type $time ease;
  -moz-transition: $type $time ease;
  -ms-transition: $type $time ease;
  -o-transition: $type $time ease;
}

@function asset($base, $type, $path) {
  @return url($base + $type + $path);
}

@function image($path, $base: $base-url) {
  @return asset($base, "images/", $path);
}

@function font($path, $base: $base-url) {
  @return asset($base, "fonts/", $path);
}

@function max_width($width) {
  @return ($width + px);
}

.btn-secondary {
  --bs-btn-color: #07253f;
  --bs-btn-bg: #eff2f9;
  --bs-btn-border-color: #eff2f9;
  --bs-btn-hover-color: #07253f;
  --bs-btn-hover-bg: #d1dbf0;
  --bs-btn-hover-border-color: #d1dbf0;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #07253f;
  --bs-btn-active-bg: #d1dbf0;
  --bs-btn-active-border-color: #d1dbf0;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d1dbf0;
  --bs-btn-disabled-border-color: #d1dbf0;
}

.btn-outline-secondary {
  --bs-btn-border-width: 2px;
  --bs-btn-color: #07253f;
  --bs-btn-border-color: #d1dbf0;
  --bs-btn-hover-color: #07253f;
  --bs-btn-hover-bg: #d1dbf0;
  --bs-btn-hover-border-color: #d1dbf0;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #07253f;
  --bs-btn-active-bg: #d1dbf0;
  --bs-btn-active-border-color: #d1dbf0;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d1dbf0;
  --bs-btn-disabled-border-color: #d1dbf0;
}

.btn-primary {
  --bs-btn-bg: #006cf2;
  --bs-btn-border-color: #006cf2;
  --bs-btn-hover-bg: #0753e2;
  --bs-btn-hover-border-color: #0753e2;
  --bs-btn-active-bg: #0753e2;
  --bs-btn-active-border-color: #0753e2;
  --bs-btn-disabled-bg: #006cf2;
  --bs-btn-disabled-border-color: #006cf2;
  --bs-btn-disabled-bg: #d1dbf0;
  --bs-btn-disabled-border-color: #d1dbf0;
}

.btn {
  min-height: 48px;
  display: inline-flex;
  align-items: center;
  --bs-btn-padding-x: 32px;
  --bs-btn-border-radius: 8px;
  font-weight: 600;
  @media (max-width: 991px) {
    --bs-btn-padding-x: 18px;
  }
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #2e527c;
}

.breadcrumb {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 0;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-divider-color: #cccccc;
  --bs-breadcrumb-item-padding-x: 0.6rem;
  --bs-breadcrumb-item-active-color: #34241c;
  --bs-breadcrumb-divider: "|";
  font-size: 1rem;
  align-items: center;
}

.btn-dark {
  --bs-btn-bg: #07253f;
  --bs-btn-border-color: #07253f;
  --bs-btn-hover-bg: #183e5f;
  --bs-btn-hover-border-color: #183e5f;
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-bg: #183e5f;
  --bs-btn-active-border-color: #183e5f;
  --bs-btn-disabled-bg: #d1dbf0;
  --bs-btn-disabled-border-color: #d1dbf0;
}

.pagination {
  --bs-pagination-padding-x: 0.9rem;
  --bs-pagination-padding-y: 0.5rem;
  --bs-pagination-color: #00929f;
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-radius: 0.375rem;
  --bs-pagination-active-bg: #00929f;
  --bs-pagination-active-border-color: #00929f;
}

.modal {
  --bs-modal-width: 776px;
  --bs-modal-padding: 0;
}

button.btn-close {
  background: none;
  color: white;
  font-size: 26px;
  opacity: 1;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: $color-1;
}

.accordion {
  --bs-accordion-border-radius: 12px;
  --bs-accordion-inner-border-radius: 12px;
  --bs-accordion-active-color: #07253f;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-border-width: 0;
}
