.subscriptions-details-modal {
  .modal-header {
    padding: 35px 32px 24px 32px;
    .modal-title {
      font-size: 16px;
      font-family: "Swissra";
      color: #07253f;
      font-weight: normal;
      line-height: 16px;
    }
    .modal-subtitle {
      font-size: 12px;
      font-weight: normal;
      font-family: "Rubik";
      color: #07253f;
    }
  }
}
