.page-title {
    background-image: url(../images/page-title.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    h1 {
        font-size: 1.875rem;
        margin-bottom: 1.25rem;
    }
    p {
        margin: 0;
    }
}