.dropdown-menu {
  margin-top: 12px;
  &.left {
    left: 0 !important;
    right: initial;
  }
}

.notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  position: relative;
  .dropdown-menu {
    min-width: 250px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 16px #08243f29;
    border-radius: 8px;
    .dropdown-item {
      color: #07253f;
      height: 48px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
      &:hover {
        background-color: #eff2f9;
      }
    }
  }
  button {
    padding: 0 !important;
    color: $color-1 !important;
    &::after {
      content: "";
      width: 9px;
      height: 9px;
      background: #ed7f77 0% 0% no-repeat padding-box;
      border: 2px solid #ffffff;
      border-radius: 50%;
      position: absolute;
      top: -1.5px;
      right: 0px;
    }
  }
}

.profile-dropdown {
  background: #eff2f9 0% 0% no-repeat padding-box;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  .dropdown-menu {
    min-width: 300px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 16px #08243f29;
    border-radius: 8px;
    .dropdown-item {
      color: #07253f;
      height: 48px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
      &:hover {
        background-color: #eff2f9;
      }
      &.dropdowm-item-profile-info {
        background-color: #eff2f9;
        height: initial;
        .avatar-profile-image {
          background: #fff 0% 0% no-repeat padding-box;
          width: 56px;
          height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
        .profile-name {
          font-weight: normal;
          font-size: 14px;
          color: #07253f !important;
        }
        .profile-email {
          line-height: initial;
          font-weight: 400;
          color: #66769b !important;
        }
      }
      .icon {
        font-size: 20px;
        color: #66769b;
      }
    }
    .dropdown-divider {
      margin: 0;
      border-top: 1px solid #d1dbf0;
    }
  }
}

.subnav {
  background: transparent linear-gradient(90deg, #026cf2 0%, #7656fb 100%) 0% 0%
    no-repeat padding-box;
  padding: 14px 0;
  color: #fff;
  .nav {
    gap: 40px;
    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-link {
        color: #fff !important;
        padding: 12px 0;
        transition: all 0.3s;
        position: relative;
        z-index: 1;
        &::before {
          position: absolute;
          content: "";
          width: calc(100% - 1px);
          height: 2px;
          background: #fff;
          bottom: -6px;
          left: 0;
          transform: scale(0, 1);
          transform-origin: right center;
          z-index: -1;
          transition: transform 0.5s ease;
        }
        &:hover,
        &.active {
          &::before {
            transform: scale(1, 1);
            transform-origin: right center;
          }
        }
      }
    }
  }
  .buttons {
    .btn {
      color: #fff;
      border-radius: 8px;
      padding: 14px 24px;
      line-height: 20px;
      font-size: 14px;
      border: none;
      &:first-child {
        background: #09abed;
        &:hover {
          background-color: #57cefb;
        }
      }
      &:last-child {
        background: #20cb7c;
        &:hover {
          background-color: #2be58f;
        }
      }
    }
  }
  @media (max-width: 575.98px) {
    .nav {
      gap: 15px !important;
      .nav-item {
        .nav-link {
          font-size: 14px;
        }
      }
    }
  }
}

.general-data-page {
  background-color: #eff2f9;
  padding: 64px 0 80px 0;

  .data-info {
    margin-bottom: 40px;
    &-box {
      padding: 32px;
      border-radius: 16px;
      font-family: "Rubik";
      gap: 24px;
      position: relative;
      &.data-info-box-sites {
        .data-info-box-icon {
          background: #f7931b;
        }
      }
      &.data-info-box-subscriptions {
        .data-info-box-icon {
          background: #09abed;
        }
      }
      &.data-info-box-inspections {
        .data-info-box-icon {
          background: #767eff;
        }
      }
      &-icon {
        width: 56px;
        height: 56px;
        border-radius: 28px;
        font-size: 24px;
        color: #fff;
      }
      &-title {
        color: #07253f;
        font-family: inherit;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 13px;
      }
      &-number {
        color: #07253f;
        font-family: inherit;
        font-size: 44px;
        line-height: 48px;
        sub {
          font-size: 16px;
          line-height: 28px;
          font-weight: 400;
          color: #66769b;
        }
      }
      &-link {
        width: 40px;
        height: 40px;
        border: 1px solid #d1dbf0;
        border-radius: 28px;
        align-self: baseline;
        position: absolute;
        left: 32px;
      }
      @media (max-width: 1199.98px) {
        padding: 24px;
        gap: 20px;
        &-link {
          left: 24px;
        }
        &-number {
          sub {
            font-size: 14px;
          }
        }
      }
    }
  }

  .table-subscriptions-list,
  .table-website-checklist {
    background: #ffffff;
    border-radius: 16px;
    margin-bottom: 40px;
    .table-header {
      padding: 32px 24px 24px 24px;
      &-title {
        font-family: "Swissra";
        font-size: 16px;
        line-height: 32px;
        color: #07253f;
        margin-bottom: 0;
      }
      .btn {
        padding: 13px 16px !important;
        font-size: 12px;
        min-height: 40px;
        font-weight: 600 !important;
        line-height: 12px !important;
        i {
          font-size: 16px !important;
          line-height: 12px !important;
        }
      }
    }
  }

  table {
    th {
      font-weight: 600 !important;
      background: #e8edf7;
      padding: 17px 16px;
    }
    td,
    th {
      font-size: 12px;
      line-height: 14px;
      font-family: "Rubik";
      color: #07253f;
      min-width: 57px;
    }
    tr {
      &:not(:last-of-type) {
        td {
          border-bottom: 1px solid #d1dbf0;
        }
      }
    }
    td {
      padding: 28px 16px;
      .subscription-type {
        border-radius: 16px;
        display: flex;
        align-items: center;
        color: #07253f;
        padding: 9px 12px 9px 16px;
        gap: 7px;
        font-weight: 600;
        font-size: 12px;
        width: fit-content;
        &::before {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 50%;
        }
        &[data-subscription-type="active"] {
          background: #bcf7db;
          &::before {
            background: #20cb7c;
          }
        }
        &[data-subscription-type="finished"] {
          background: #ffdede;
          &::before {
            background: #ed7f77;
          }
        }
      }
      .consumed-pages {
        h6 {
          font-family: "Rubik";
          font-size: 12px;
          font-weight: 400;
          color: #66769b;
          margin: 0;
        }
        span {
          color: #07253f;
          font-size: 12px;
        }
        .progress {
          background-color: #eff2f9;
          .progress-bar {
            background-color: #20cb7c;
            &.consumed {
              background-color: #ed7f77;
            }
          }
        }
      }
    }
    .btn {
      min-height: 32px !important;
      line-height: 12px;
      font-size: 12px;
      font-weight: 600;
      .icon {
        font-size: 16px;
      }
    }

    .btn-primary {
      --bs-btn-padding-x: 16px;
    }

    .btn-outline-settings {
      --bs-btn-border-width: 1px;
      --bs-btn-color: #66769b;
      --bs-btn-border-color: #66769b;
      --bs-btn-hover-color: #66769b;
      --bs-btn-hover-bg: #eff2f9;
      --bs-btn-hover-border-color: #66769b;
      --bs-btn-focus-shadow-rgb: 108, 117, 125;
      --bs-btn-active-color: #66769b;
      --bs-btn-active-bg: #ffffff;
      --bs-btn-active-border-color: #66769b;
      --bs-btn-disabled-color: #66769b;
      --bs-btn-disabled-bg: #d1dbf0;
      --bs-btn-disabled-border-color: #d1dbf0;
      --bs-btn-padding-x: 16px;
    }
    .btn-renewal {
      --bs-btn-bg: #09abed;
      --bs-btn-border-color: #09abed;
      --bs-btn-color: #ffffff;
      --bs-btn-hover-bg: #57cefb;
      --bs-btn-hover-color: #ffffff;
      --bs-btn-hover-border-color: #57cefb;
      --bs-btn-active-color: #ffffff;
      --bs-btn-active-bg: #57cefb;
      --bs-btn-active-border-color: #57cefb;
      --bs-btn-disabled-bg: #d1dbf0;
      --bs-btn-disabled-border-color: #d1dbf0;
      --bs-btn-disabled-color: #66769b;
      --bs-btn-padding-y: 9px;
      --bs-btn-padding-x: 20px;
      --bs-btn-border-width: 1px;
    }
  }

  .progress-circle {
    --progress-color: #20cb7c;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(var(--progress-color) var(--progress), #f0f2fa 0);
    &.full {
      --progress-color: #f3c86b;
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 9px;
      font-weight: 600;
      font-family: "Rubik";
      color: #07253f;
      margin: 0;
    }
  }
}

.subscriptions-list-page {
  padding: 69px 0 80px 0;
  background-color: #eff2f9;
  .subscriptions-list-header {
    .subscriptions-list-title {
      h1 {
        font-size: 16px;
        font-family: "Swissra";
        color: #07253f;
        margin-bottom: 0px;
      }
    }
    .breadcrumb {
      --bs-breadcrumb-divider: "/";
      .breadcrumb-item {
        font-family: "Rubik";
        font-size: 12px;
        color: #66769b;
        font-weight: 400;
        a {
          color: inherit;
        }
        &::before {
          padding-left: 8px;
        }
        &.active {
          color: #07253f;
        }
      }
    }
  }
  .subscriptions-list-body {
    .subscriptions-list-nav {
      .nav-item {
        .nav-link {
          padding: 18px 24px;
          border-right: 2px solid #d1dbf0;
          color: #07253f;
          font-size: 14px;
          display: flex;
          align-items: center;
          gap: 16px;
          transition: all 0.3s ease-in;
          &.active,
          &:hover {
            color: #006cf2 !important;
            border-color: #006cf2;
            font-weight: 600;
          }
          .icon {
            font-size: 20px;
          }
        }
      }
    }
    .subscriptions-list-content {
      flex: 1 1 auto;
      .subscriptions-list-table {
        background: #ffffff;
        border-radius: 16px;
        margin-bottom: 40px;
        .table-header {
          padding: 32px 32px 25px 32px;
          &-title {
            font-family: "Swissra";
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            color: #07253f;
            margin-bottom: 8px;
          }
          &-subtitle {
            font-family: "Rubik";
            font-size: 12px;
            font-weight: 400;
            color: #07253f;
            margin: 0 !important;
          }
          .btn {
            padding: 13px 16px !important;
            font-size: 12px;
            min-height: 40px;
            font-weight: 600 !important;
            line-height: 12px !important;
            i {
              font-size: 16px !important;
              line-height: 12px !important;
            }
          }
        }
        table {
          th {
            font-weight: 600 !important;
            background: #e8edf7;
            padding: 12px 32px;
          }
          td,
          th {
            font-size: 14px;
            line-height: 16px;
            font-family: "Rubik";
          }
          tr {
            &:not(:last-of-type) {
              border-bottom: 1px solid #d1dbf0;
            }
          }
          td {
            color: #07253f;
            padding: 16px 32px;
            vertical-align: baseline;
            &:first-of-type {
              color: #66769b;
              font-weight: 600;
              font-size: 12px;
            }
            .subscription-type {
              border-radius: 16px;
              display: flex;
              align-items: center;
              color: #07253f;
              padding: 9px 12px 9px 16px;
              gap: 7px;
              font-weight: 600;
              font-size: 12px;
              width: fit-content;
              &::before {
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
              }
              &[data-subscription-type="active"] {
                background: #bcf7db;
                &::before {
                  background: #20cb7c;
                }
              }
              &[data-subscription-type="finished"] {
                background: #ffdede;
                &::before {
                  background: #ed7f77;
                }
              }
            }
          }
        }
      }
    }
  }

  .table {
    background: #ffffff;
    border-radius: 16px;
    margin-bottom: 40px;
    .table-header {
      padding: 32px 32px 32px 25px;
      &-title {
        font-family: "Swissra";
        font-size: 16px;
        line-height: 32px;
        color: #07253f;
        margin-bottom: 8px;
      }
      &-subtitle {
        font-size: 12px;
        font-family: "Rubik";
        color: #07253f;
      }
      .btn {
        --bs-btn-padding-x: 16px;
        --bs-btn-padding-y: 12px;
        font-size: 12px;
        min-height: 40px;
        font-weight: 600 !important;
        line-height: 12px !important;
        i {
          font-size: 16px !important;
          line-height: 12px !important;
        }
      }
    }

    table {
      th {
        font-weight: 600 !important;
        background: #e8edf7;
        padding: 17px 16px;
      }
      td,
      th {
        font-size: 12px;
        line-height: 14px;
        font-family: "Rubik";
        color: #07253f;
        min-width: 57px;
      }
      td {
        padding: 28px 16px;
      }
      tr {
        &:not(:last-of-type) {
          td {
            border-bottom: 1px solid #d1dbf0;
          }
        }
      }
      .btn {
        min-height: 32px !important;
        line-height: 12px;
        font-size: 12px;
        font-weight: 600;
        .icon {
          font-size: 16px;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .subscriptions-list-body {
      .subscriptions-list-nav {
        padding-top: 7px;
        position: sticky;
        top: 20px;
      }
    }
  }
}

.website-settings-page {
  background-color: #eff2f9;
  padding: 69px 0 80px 0;
  .website-settings-header {
    .website-settings-title {
      h1 {
        font-size: 16px;
        font-family: "Swissra";
        color: #07253f;
        margin-bottom: 0px;
      }
    }
    .breadcrumb {
      --bs-breadcrumb-divider: "/";
      .breadcrumb-item {
        font-family: "Rubik";
        font-size: 12px;
        color: #66769b;
        font-weight: 400;
        a {
          color: inherit;
        }
        &::before {
          padding-left: 8px;
        }
        &.active {
          color: #07253f;
        }
      }
    }
  }
  .website-settings-body {
    .website-settings-nav {
      .nav-item {
        .nav-link {
          padding: 18px 24px;
          border-right: 2px solid #d1dbf0;
          color: #07253f;
          font-size: 14px;
          display: flex;
          align-items: center;
          gap: 16px;
          transition: all 0.3s ease-in;
          &.active,
          &:hover {
            color: #006cf2 !important;
            border-color: #006cf2;
            font-weight: 600;
          }
          .icon {
            font-size: 20px;
          }
        }
      }
    }
    .website-settings-content {
      flex: 1 1 auto;
      .website-settings-form {
        background: #ffffff;
        border-radius: 16px;
        margin-bottom: 40px;
        .form-header {
          padding: 32px 32px 26px 32px;
          border-bottom: 1px solid #d1dbf0;
          &-title {
            font-family: "Swissra";
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            color: #07253f;
            margin-bottom: 8px;
          }
          &-subtitle {
            font-family: "Rubik";
            font-size: 12px;
            font-weight: 400;
            color: #07253f;
            margin: 0 !important;
          }
          .btn {
            padding: 13px 16px !important;
            font-size: 12px;
            min-height: 40px;
            font-weight: 600 !important;
            line-height: 12px !important;
            i {
              font-size: 16px !important;
              line-height: 12px !important;
            }
          }
        }
        .form-group {
          padding: 32px;
          .form-label {
            display: flex;
            align-items: center;
            gap: 4px;
            .asterisk {
              font-size: 12px;
              color: #ed7f77;
            }
          }
        }
        .form-group-title {
          background: #e8edf7;
          font-family: "Rubik";
          font-size: 14px;
          color: #07253f;
          margin: 0;
          padding: 12px 32px;
          line-height: 16px;
          font-weight: 600;
        }
      }
    }
  }
}

.new-scan-page {
  background-color: #eff2f9;
  padding: 64px 0 80px 0;
  .scan-input-group {
    margin-bottom: 32px;
    .input-group-text {
      border-color: #d1dbf0;
      color: #66769b;
      padding: 20px 16px;
      max-height: 56px;
      &.site {
        border-radius: 8px 0px 0px 8px !important;
        border-right: none;
        font-size: 14px;
        font-weight: 600;
        background: #eff2f9;
      }
      &.icon {
        font-size: 20px;
        border-radius: 0px 8px 8px 0px !important;
        background-color: transparent !important;
      }
    }
    select {
      border-color: #d1dbf0;
      background: #ffffff;
      border-right: none;
      border-left: none;
      font-size: 14px;
      font-weight: 400;
      font-family: "Rubik";
      color: #66769b;
      padding: 12px 16px;
      height: 56px;
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      padding: 16px 20px;
      border-radius: 8px;
      height: 56px;
      flex: 1 0 128px;
      max-width: 128px !important;
    }
    @media (max-width: 767.98px) {
      flex-wrap: wrap;
    }
  }
  .scan-no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #d1dbf0;
    border-radius: 16px;
    height: 350px;
    h4 {
      font-size: 16px;
      font-weight: 400;
      font-family: "Rubik";
      color: #07253f;
    }
  }
}

.scan-results-page {
  background-color: #eff2f9;
  padding: 64px 0 80px 0;
  .scan-input-group {
    margin-bottom: 32px;
    .input-group-text {
      border-color: #d1dbf0;
      color: #66769b;
      padding: 20px 16px;
      max-height: 56px;
      &.site {
        border-radius: 8px 0px 0px 8px !important;
        border-right: none;
        font-size: 14px;
        font-weight: 600;
        background: #eff2f9;
      }
      &.icon {
        font-size: 20px;
        border-radius: 0px 8px 8px 0px !important;
        background-color: transparent !important;
      }
    }
    select {
      border-color: #d1dbf0;
      background: #ffffff;
      border-right: none;
      border-left: none;
      font-size: 14px;
      font-weight: 400;
      font-family: "Rubik";
      color: #66769b;
      padding: 12px 16px;
      height: 56px;
    }
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      padding: 16px 20px;
      border-radius: 8px;
      height: 56px;
      flex: 1 0 128px;
      max-width: 128px !important;
    }
    @media (max-width: 767.98px) {
      flex-wrap: wrap;
    }
  }
  .scan-results {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #d1dbf0;
    border-radius: 16px;
    height: 600px;
    &-header {
      background: #07253f;
      border-radius: 16px 16px 0px 0px;
      padding: 16px 80px;
      width: 100%;
      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
      }
    }
    &-report {
      overflow: auto;
      width: 100%;
      padding: 40px 80px;
      direction: ltr;
      .ratio-boxes {
        direction: rtl;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        align-items: center;
        gap: 24px;
        margin-bottom: 80px;
        position: relative;
        &::after {
          content: "";
          border-bottom: 1px solid #d1dbf0;
          width: calc(100% + 160px);
          position: absolute;
          left: -80px;
          right: -80px;
          bottom: -40px;
        }
        .ratio-box {
          background: #ffffff;
          border: 1px solid #d1dbf0;
          border-radius: 16px;
          padding: 32px;
          display: flex;
          align-items: center;
          gap: 24px;
          &-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 56px;
            height: 56px;
            border-radius: 35px;
            color: #fff;
            font-size: 21px;
          }
          &-info {
            &-title {
              font-size: 14px;
              font-weight: 600;
              color: #66769b;
              font-family: "Rubik";
              margin-bottom: 8px;
            }
            &-number {
              font-size: 24px;
              color: #07253f;
              font-weight: 600;
              font-family: "Rubik";
            }
          }
          &.prev-examine {
            .ratio-box-icon {
              background: #f7931b;
            }
          }
          &.current-examine {
            .ratio-box-icon {
              background: #09abed;
            }
          }
          &.improvement-indicator {
            .ratio-box-icon {
              background: #767eff;
            }
            .ratio-box-info-number {
              background: #bcf7db;
              border-radius: 23px;
              padding: 10px 13px;
              font-size: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
              line-height: 12px;
            }
          }
        }
      }
      h1 {
        font-family: "Rubik";
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;
        direction: ltr;
        line-height: 32px;
        overflow-wrap: break-word;
        span {
          color: #66769b;
        }
        & + p {
          font-family: "Rubik";
          font-weight: 400;
          font-size: 14px;
          color: #07253f;
          margin-bottom: 40px;
          direction: ltr;
          span {
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }
      .counts {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;
        margin-bottom: 24px;
        .count {
          border-radius: 24px;
          padding: 8px 24px 8px 8px;
          font-size: 14px;
          font-weight: 600;
          color: #07253f;
          display: flex;
          align-items: center;
          gap: 8px;
          text-transform: capitalize;
          &::before {
            content: attr(data-count);
            background: #f3c86b;
            border-radius: 24px;
            width: 32px;
            height: 32px;
            color: #fff;
            font-weight: 600;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &.error {
            background: #fcebeb;
            border: 1px solid #ed7f77;
            &::before {
              background-color: #ed7f77;
            }
          }
          &.warning {
            background: #fdf9e4;
            border: 1px solid #f3c86b;
            &::before {
              background-color: #f3c86b;
            }
          }
          &.notice {
            background: #e6f3ff;
            border: 1px solid #3c89eb;
            &::before {
              background-color: #3c89eb;
            }
          }
        }
      }
      .results-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0;
        .result {
          padding: 32px;
          border-radius: 16px;
          &.notice {
            background: #e6f3ff;
            border: 1px solid #3c89eb;
            h2 {
              color: #1a4e90;
              &::before {
                background: #d3eaff;
                border: 1px solid #3c89eb;
                content: "Notice";
              }
            }
          }
          &.warning {
            background: #fdf9e4;
            border: 1px solid #f3c86b;
            h2 {
              color: #86641d;
              &::before {
                content: "Warning";
                background: #fdf5cd;
                border: 1px solid #f3c86b;
              }
            }
          }
          &.error {
            background: #fcebeb;
            border: 1px solid #ed7f77;
            h2 {
              color: #a34a43;
              &::before {
                content: "Error";
                background: #ffdede;
                border: 1px solid #ed7f77;
              }
            }
          }
          h2 {
            font-size: 14px;
            font-weight: 600;
            font-family: "Rubik";
            margin-bottom: 12px;
            line-height: 24px;
            &::before {
              display: flex;
              border-radius: 24px;
              margin-bottom: 16px;
              font-size: 14px;
              color: #07253f;
              padding: 8px 16px;
              width: fit-content;
            }
          }
          p {
            font-size: 14px;
            font-family: "Rubik";
            color: #66769b;
            margin-bottom: 18px;
            word-wrap: break-word;
          }
          pre,
          xmp {
            font-size: 14px;
            font-family: "Rubik";
            color: #07253f;
            display: inline-block;
            direction: ltr;
            margin: 0;
            white-space: pre-wrap;
            overflow-wrap: anywhere;
          }
        }
      }
    }
    @media (max-width: 991.98px) {
      .scan-results-header {
        padding: 16px !important;
        .buttons {
          .btn {
            span {
              display: none;
            }
          }
        }
        button {
          span {
            display: none;
          }
        }
      }
      .scan-results-report {
        padding: 24px 16px;
        .ratio-boxes {
          .ratio-box {
            padding: 16px;
          }
          &::after {
            width: calc(100% + 132px);
            position: absolute;
            left: -16px;
            right: -16px;
          }
        }
        .counts {
          .count {
            padding: 4px 8px;
            font-size: 12px;
            gap: 4px;
            &::before {
              width: 24px;
              height: 24px;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
